services:
    jbbcode.parser:
        class: 'JBBCode\Parser'

    desarrolla2_form.form_transformer.bbcode_transformer:
        class: 'Desarrolla2\FormBundle\Form\Transformer\BBcodeTransformer'
        arguments: ['@jbbcode.parser']

    desarrolla2_form.form_type.text_area_bbcode_type:
        class: 'Desarrolla2\FormBundle\Form\Type\TextAreaBBCodeType'
        arguments: ['@desarrolla2_form.form_transformer.bbcode_transformer']
        tags:
            - { name: 'form.type' }

#    desarrolla2_form.form_type.text_area_html_type:
#        class: 'Desarrolla2\FormBundle\Form\Type\TextAreaHtmlType'
#        arguments: ['@exercise_htmlpurifier.form.htmlpurifier_transformer']
#        tags:
#            - { name: 'form.type' }